/* Start Rules */
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box
}

.left .search,
.left .members,
.left .groups,
.left .active_members,
.left .schedule,
.rghit .form,
.rghit .statistics,
.rghit .online,
.rghit .replies,
.rghit .topics {
    width: 90%;
    background-color: #FFF;
    border-radius: 20px;
    padding: 22px;
    margin: 0 auto;
    margin-bottom: 25px
}
/* End Rules */

/* // Start Body // */
body {
    background-color: #e9e8e8;
    display: flex;
    padding: 30px;
    font-family: Arial, Tahoma
}
/* // End Body // */

/* // Start Article Left // */
.left { width: 25% }
/* // End Article Left // */

/* // Start Sidebar Search // */
.left .search form input:first-of-type {
    border: none;
    border-radius: 15px 0 0  15px;
    background-color: #f0f0ed;
    outline: none;
    font-size: 15px;
    padding: 12px 10px 12px 15px;
    width: 200px;
    margin-left: 9px
}

.left .search form input:last-of-type {
    border: none;
    background-color: #2f9bc1;
    color: #FFF;
    padding: 12px 15px;
    font-size: 15px;
    border-radius: 0 15px 15px 0;
    cursor: pointer;
    transition: all .5s ease
}

.left .search form input:last-of-type:hover { background-color: #217695 }
/* // End Sidebar Search // */

/* // Start Sidebar Members & Sidebar Groups // */
.left .members h3,
.left .groups h3 {
    font-size: 17px;
    margin-bottom: 50px;
    opacity: .7
}

.left .members button,
.left .groups button {
    margin-bottom: 25px;
    font-size: 13px;
    padding: 5px 15px;
    background-color: #77af12;
    color: #FFF;
    border: none;
    outline: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all .5s ease
}

.left .members button:hover,
.left .groups button:hover { background-color: #619205 }

.left .groups button { margin-bottom: 7px }

.left .groups button:last-of-type { margin-bottom: 30px }

.left .members > div,
.left .groups > div {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px
}

.left .members > div div,
.left .groups > div div {
    line-height: 1.7;
    padding-left: 15px
}

.left .members > div div p,
.left .groups > div div p {
    font-size: 15px;
    font-weight: bold;
    color: #4b5566
}

.left .members > div div span,
.left .groups > div div span {
    background-color: #e4ecf1;
    color: #418ab1;
    font-size: 13px;
    padding: 5px 15px;
    border-radius: 7px
}

.left .members div img,
.left .groups div img {
    width: 50px;
    display: block;
    border-radius: 10px
}
/* // End Sidebar Members & Sidebar Groups // */

/* // Start Active Members// */
.left .active_members { padding: 0 }

.left .active_members h3 {
    padding: 22px 0 0 22px;
    margin-bottom: 20px;
    opacity: .7;
    font-size: 17px
}

.left .active_members hr { opacity: .5 }

.left .active_members div {
    display: flex;
    flex-wrap: wrap;
    padding: 22px
}

.left .active_members div img {
    width: 55px;
    margin: 0px 9px 25px 4px;
    border-radius: 7px
}
/* // End Active Members// */

/* // Start The Schedule // */
.left .schedule h3 {
    margin-bottom: 40px;
    opacity: .7;
    font-size: 17px
}

.left .schedule img { width: 300px }
/* // End The Schedule // */

/* ///////////////////////////////// */

/* // Start Article Center // */
/* Start Section Center */
.center { width: 50% }
/* End Section Center */

/* Start Section Welcome */
.center .welcome {
    width: 100%;
    height: 320px;
    margin-bottom: 20px;
    background: url("images/background.webp") no-repeat;
    background-size: 100% 320px;
    color: #FFF;
    border-radius: 15px;
    position: relative
}

.center .welcome h1 {
    padding: 10px 15px;
    background-color: #575e69;
    border-radius: 8px;
    letter-spacing: 1px;
    font-size: 25px;
    position: absolute;
    bottom: 50px;
    left: 30px
}

.center .welcome form {
    position: absolute;
    bottom: 10px;
    left: 345px
}

.center .welcome form input { margin: 0 8px }
/* End Section Welcome */

/* Start Section Latest Activity */
.center .latest {
    background-color: #FFF;
    border-radius: 15px;
    margin-bottom: 20px
}

.center .latest hr {
    width: 700px;
    margin-left: 25px;
    opacity: .3
}

.center .latest h2 {
    padding: 20px;
    background-color: #f3f2f2;
    border-radius: 15px 15px 0 0;
    font-size: 20px;
    opacity: .7
}

.center .latest > article {
    padding: 22px;
    display: flex;
}

.center .latest > article img {
    width: 60px;
    border-radius: 5px;
    height: 60px;
    margin-top: 5px;
}

.center .latest > article div { margin-left: 15px }

.center .latest > article div p {
    font-size: 15px;
    margin-bottom: 8px;
    line-height: 1.6;
    font-weight: bold;
    opacity: .7
}

.center .latest > article div p:nth-of-type(2),
.center .latest > article div p:nth-of-type(3),
.center .latest > article div p:nth-of-type(4) {
    font-weight: normal;
    opacity: .6
}

.center .latest > article div p:nth-of-type(4) span {
    opacity: 1;
    font-weight: bold;
    cursor: pointer
}


.center .latest > article div p span {
    opacity: .6;
    font-weight: normal
}

.center .latest button {
    margin: 20px;
    padding: 15px;
    border: none;
    width: 710px;
    border-radius: 10px;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    opacity: .8;
    transition: all .5s ease
}

.center .latest button:hover { opacity: 1 }
/* End Section Latest Activity */

/* Start Section Latest Posts */
.center .posts {
    background-color: #FFF;
    border-radius: 15px;
    margin-bottom: 20px;
}

.center .posts h2 {
    padding: 20px;
    background-color: #f3f2f2;
    border-radius: 15px 15px 0 0;
    font-size: 20px;
    opacity: .7
}

.center .posts article {
    padding: 23px;
    display: flex
}

.center .posts article img {
    width: 130px;
    height: 100px;
    border-radius: 15px
}

.center .posts article p:first-of-type {
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 20px
}

.center .posts article p:last-of-type {
    margin-left: 20px;
    line-height: 1.6;
    opacity: .5
}

.center.posts article p:last-of-type span {
    font-weight: bold;
    opacity: 1;
    cursor: pointer
}

.center .posts section {
    text-align: right;
    padding-right: 30px;
    opacity: .6
}

.center .posts section span {
    display: inline-block;
    margin: 25px 5px;
    padding: 10px;
    cursor: pointer
}

.center .posts section span:first-of-type {
    background-color: #f0f0ed;
    border-radius: 5px
}

.center .posts section i { cursor: pointer }
/* End Section Latest Posts */

/* Start Section Features */
.center .features {
    background-color: #FFF;
    border-radius: 15px
}

.center .features h2 {
    padding: 20px;
    background-color: #f3f2f2;
    border-radius: 15px 15px 0 0;
    font-size: 20px;
    opacity: .7
}

.center .features div {
    display: flex;
    justify-content: space-around;
    padding: 30px 0 10px 20px
}

.center .features div article {
    text-align: left;
    width: 25%
}

.center .features div article img {
    display: inline;
    width: 160px;
    border-radius: 10px
}

.center .features div article p {
    margin-bottom: 30px;
    padding: 15px 0;
    font-size: 15px;
    font-weight: bold;
    opacity: .6
}
/* Start Section Features */
/* // End Article Center // */

/* // Start Article Right // */
/* Start Section Rghit */
.rghit { width: 25% }
/* End Section Rghit */

/* Start Form */
.rghit .form { padding: 0 }

.rghit .form h2 {
    font-size: 22px;
    padding: 22px;
    opacity: .7
}

.rghit .form hr { opacity: .4 }

.rghit form { padding: 25px }

.rghit .form form input:first-of-type,
.rghit .form form input:nth-of-type(2) {
    width: 295px;
    border: none;
    padding: 13px;
    font-size: 20px;
    outline: none;
    margin-bottom: 30px;
    background-color: #f7f7f7;
    border-radius: 5px
}

.rghit .form form input:nth-of-type(4) {
    display: block;
    margin-top: 30px;
    width: 295px;
    padding: 15px 0;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #2f9bc1;
    color: #FFF;
    border-radius: 10px;
    font-size: 20px;
    transition: all .5s ease
}

.rghit .form form input:nth-of-type(4):hover { background-color: #1e86ac }

.rghit .form p {
    padding:0 20px 20px 0;
    text-align: right
}

.rghit .form p a {
    color: #000;
    transition: all .5s ease
}

.rghit .form p a:hover { color: #2f9bc1 }

.rghit .form p span {
    padding: 1px 3px;
    color: #FFF;
    background-color: #000;
    border-radius: 50%
}
/* End Form */

/* Start Statistics */
.rghit .statistics { padding: 0 0 22px 0 }

.rghit .statistics h2 {
    font-size: 22px;
    padding: 22px;
    opacity: .7
}

.rghit .statistics hr {margin-bottom: 22px; opacity: .4;}

.rghit .statistics div {
    margin: 0 22px 12px 22px;
    background-color: #c12f6c;
    color: #FFF;
    padding: 10px;border-radius: 5px;
    font-weight: bold;
    display: flex;
    justify-content: space-between
}

.rghit .statistics div p {
    width: 230px;
    display: inline-block;
    text-align: left;
}

.rghit .statistics div span { margin-right: 5px }
/* End Statistics */

/* Start Who's Online */
.rghit .online { padding: 0 }

.rghit .online h2 {
    padding: 22px;
    font-size: 22px;
    opacity: .7
}

.rghit .online hr {opacity: .4;}

.rghit .online p {
    padding: 25px;
    font-size: 20px;
    opacity: .5
}
/* End Who's Online */

/* Start Replies & Topics */
.rghit .replies,
.rghit .topics {
    padding: 0;
    padding-bottom: 20px
}

.rghit .replies h2,
.rghit .topics h2 {
    padding: 22px;
    font-size: 22px;
    opacity: .7
}

.rghit .replies hr,
.rghit .topics hr {
    opacity: .4
}

.rghit .replies p,
.rghit .topics p {
    padding : 15px 22px 10px 22px;
    width: 324px;
    line-height: 1.5
}

.rghit .replies span,
.rghit .topics span { opacity: .6 }
/* End Replies & Topics */
/* // End Article Right // */
